<% include header.ejs %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Page
        <small>Optional description</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <form class="form-horizontal form-label-left" novalidate action="/save/<%= idfep %>" method="post">

      <label id="idfep" class="hidden" for=""><%= idfep %></label>

      <div id="jsGrid"></div>

      <textarea class="hidden" id="obj" name="obj" rows="8" cols="40"></textarea>

      <input type="hidden" name="_method" value="PUT">
      <button type="submit" class="btn btn-success">Enregistrer</button>


    </form>

      <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->


  <% include footer.ejs %>
  <script>

    var tt = [];
    $(document).ready(function(){

      var sex = [
          { Name: "M", Id: "M" },
          { Name: "F", Id: "F" },
          { Name: "UD", Id: "UD" }
      ];

        // console.log($("#idfep").text());

        var url = "/getdata/" + $("#idfep").text();

        var check = $.ajax({
                    url:url,
                    type: 'GET'
                  });

          check.done(function(msg){
            tt = msg;

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "400px",

                inserting: true,
                editing: true,
                sorting: true,
                paging: true,



                data: tt,

                fields: [
                    // { name: "Name", type: "text", width: 150, validate: "required" },
                    // { name: "Age", type: "number", width: 50 },
                    // { name: "Address", type: "text", width: 200 },
                    // { name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
                    // { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
                    // { type: "control" }
                    { name: "taille", type: "number", width: 150, validate: "required" },
                    { name: "sex", type: "select", items: sex, valueField: "Id", textField: "Name" },
                    // { name: "sex", type: "text", width: 150, validate: "required" },
                    { name: "poids", type: "number", width: 150, validate: "required" },
                    { name: "sms", type: "text", width: 150, validate: "required" },
                    { type: "control" }

                ]
            });

            $("#obj").val(JSON.stringify(tt));

              $("#jsGrid").jsGrid({

              onItemUpdated: function() {
              //console.log("row updated");
              $('#obj').val(JSON.stringify(tt));
              },

              onItemDeleted: function(arg) {
              //console.log("row deleted");
              //tt.splice(arg.itemIndex, 1);
              $('#obj').val(JSON.stringify(tt));
              },
              onItemInserted: function() {
              //console.log("row deleted");
              $('#obj').val(JSON.stringify(tt));
              }
              });
          });

      });



      // var countries = [
      //     { Name: "", Id: 0 },
      //     { Name: "United States", Id: 1 },
      //     { Name: "Canada", Id: 2 },
      //     { Name: "United Kingdom", Id: 3 }
      // ];

      // $("#jsGrid").jsGrid({
      //     width: "100%",
      //     height: "400px",
      //
      //     inserting: true,
      //     editing: true,
      //     sorting: true,
      //     paging: true,
      //
      //
      //     data: clients,
      //
      //     fields: [
      //         // { name: "Name", type: "text", width: 150, validate: "required" },
      //         // { name: "Age", type: "number", width: 50 },
      //         // { name: "Address", type: "text", width: 200 },
      //         // { name: "Country", type: "select", items: countries, valueField: "Id", textField: "Name" },
      //         // { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
      //         // { type: "control" }
      //         { name: "taille", type: "number", width: 150, validate: "required" },
      //         { name: "sex", type: "text", width: 150, validate: "required" },
      //         { name: "poids", type: "number", width: 150, validate: "required" },
      //         { name: "sms", type: "text", width: 150, validate: "required" },
      //         { type: "control" }
      //
      //     ]
      // });



  </script>
