<% include header.ejs %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Campagne de poulpe  - Décembre  2016
        <small>Etat global des débarquements du poulpe Au CR DAKHLA</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua" ><i class="fa fa-tachometer"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Quota global <small>(en Tonnes) </small></span>
                    <span class="info-box-number">9542 Tonnes</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red"><i class="fa fa-tachometer"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Total débarqué </span>
                    <span class="info-box-number">9536<small> Tonnes</small></span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->

              <!-- fix for small devices only -->
              <div class="clearfix visible-sm-block"></div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-green"><i class="fa fa-percent"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Quota réalisé</span>
                    <span class="info-box-number">99,93<small> %</small></span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-tachometer"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Quota restant </span>
                    <span class="info-box-number">6<small> Tonnes</small></span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>


  <div class="row" >
    <div class="col-md-6">
        <!-- <div id="container" style="width:100%; height:400px;"></div> -->
          <div id="container2" style="min-width: 310px; height: 380px; margin: 0 auto"></div>
    </div>
    <div class="col-md-6">
      <div id="container3" style="height: 380px; margin: 0 auto"></div>
    </div>
  </div>
<br>
            <div class="row">
        <div class="col-md-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua">
              <div class="widget-user-image">

              </div>
              <!-- /.widget-user-image -->
              <h3 class="widget-user-username"><b>L</b>ASSARGA</h3>


            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Poids(en Kg) <span class="pull-right badge bg-blue">3 613 749,00</span></a></li>
                <li><a href="#">Valeur (en Dh) <span class="pull-right badge bg-aqua">195 165 925,50</span></a></li>
                <li><a href="#">Prix Moyen <span class="pull-right badge bg-green">54</span></a></li>
                <li><a href="#">Nbr Barque <span class="pull-right badge bg-red">1 168</span></a></li>
                <li><a href="#">Pourcentage Quota réalisé <span class="pull-right badge bg-red">99,93%</span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <!-- Widget: user widget style 1 -->
          <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-red">

              <!-- /.widget-user-image -->
              <h3 class="widget-user-username"><b>L</b>ABUIRDA</h3>

            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a href="#">Poids(en Kg) <span class="pull-right badge bg-blue">2 311 291,00</span></a></li>
                <li><a href="#">Valeur (en Dh) <span class="pull-right badge bg-aqua">118 571 499,50</span></a></li>
                <li><a href="#">Prix Moyen <span class="pull-right badge bg-green">51</span></a></li>
                <li><a href="#">Nbr Barque <span class="pull-right badge bg-red">747</span></a></li>
                <li><a href="#">Pourcentage Quota réalisé <span class="pull-right badge bg-red">99,94%</span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <div class="col-md-3">
                  <!-- Widget: user widget style 1 -->
                  <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-green">

                      <!-- /.widget-user-image -->
                      <h3 class="widget-user-username"><b>N</b>tireft</h3>

                    </div>
                    <div class="box-footer no-padding">
                      <ul class="nav nav-stacked">
                        <li><a href="#">Poids(en Kg) <span class="pull-right badge bg-blue">2 732 385,00</span></a></li>
                        <li><a href="#">Valeur (en Dh) <span class="pull-right badge bg-aqua">134 039 389,50</span></a></li>
                        <li><a href="#">Prix Moyen <span class="pull-right badge bg-green">49</span></a></li>
                        <li><a href="#">Nbr Barque <span class="pull-right badge bg-red">883</span></a></li>
                        <li><a href="#">Pourcentage Quota réalisé <span class="pull-right badge bg-red">99,95%</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.widget-user -->
                </div>
        <!-- /.col -->
        <div class="col-md-3">
                  <!-- Widget: user widget style 1 -->
                  <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-yellow">

                      <!-- /.widget-user-image -->
                      <h3 class="widget-user-username"><b>I</b>moutlan</h3>

                    </div>
                    <div class="box-footer no-padding">
                      <ul class="nav nav-stacked">
                        <li><a href="#">Poids(en Kg) <span class="pull-right badge bg-blue">878 359,00</span></a></li>
                        <li><a href="#">Valeur (en Dh) <span class="pull-right badge bg-aqua">45 496 178,00</span></a></li>
                        <li><a href="#">Prix Moyen <span class="pull-right badge bg-green">52</span></a></li>
                        <li><a href="#">Nbr Barque <span class="pull-right badge bg-red">284</span></a></li>
                        <li><a href="#">Pourcentage Quota réalisé <span class="pull-right badge bg-red">99,95%</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- /.widget-user -->
                </div>
        <!-- /.col -->
      </div>
    </section>


    <!-- /.content -->


    <% include footer.ejs %>
    <script src="../../plugins/highcharts/highcharts.js"></script>
   <script src="../../plugins/highcharts/highcharts-3d.js"></script>
  <script src="../../plugins/highcharts/exporting.js"></script>




    <script>
    $(function () {
    $('#container2').highcharts({
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Répartition des Débarquements par site  à Dakhla (Poids)'
        },
        subtitle: {
            text: 'Année: 2016. Source: Centre Régional de l\'INRH à DAKHLA.'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Pourcentage',
            data: [
                ['LASSARGA', 37.0],
                {
                    name: 'LABUIRDA',
                    y: 22.8,
                    sliced: true,
                    selected: true
                },
                ['NTIREFT', 8.5],
                ['IMOUTLANE', 6.2]
            ]
        }]
    });
  });
    </script>


    <script>
    $(function () {

      // Radialize the colors
      Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
          return {
              radialGradient: {
                  cx: 0.5,
                  cy: 0.3,
                  r: 0.7
              },
              stops: [
                  [0, color],
                  [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
              ]
          };
      });

      // Build the chart
      $('#container3').highcharts({
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: null,
              plotShadow: false,
              type: 'pie'
          },
          title: {
              text: 'Répartition des Débarquements par site à Dakhla  (Valeur)'
          },
          subtitle: {
              text: 'Année: 2016. Source: Centre Régional de l\'INRH à DAKHLA.'
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                      enabled: true,
                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                      style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                      },
                      connectorColor: 'silver'
                  }
              }
          },
          series: [{
              name: 'Pourcentage',
              data: [
                  { name: 'LASSARGA', y: 56.33 },
                  {
                      name: 'LABUIRDA',
                      y: 24.03,
                      sliced: true,
                      selected: true
                  },
                  { name: 'NTIREFT', y: 10.38 },
                  { name: 'IMOUTLANE', y: 4.77 }
              ]
          }]
      });
  });
    </script>
