<% include header.ejs %>

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Echantillonnage biologique du poulpe
        <small>Tableau de bord Année 2016</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row" >
        <div class="col-md-6">
            <!-- <div id="container" style="width:100%; height:400px;"></div> -->
            <div id="container1" style=" height: 380px; margin: 0 auto"></div>
        </div>
        <div class="col-md-6">
          <div id="container3" style="height: 380px; margin: 0 auto"></div>
        </div>
      </div>
      <br>
      <div class="row">
  <div class="col-md-6">
    <div id="container" style="min-width: 310px; height: 380px; margin: 0 auto"></div>
        <!-- <div id="container1" style="min-width: 300px; height: 400px; margin: 0 auto"></div> -->
  </div>

  <div class="col-md-6">
      <div id="container2" style="height: 380px"></div>
  </div>
</div>

      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
   <% include footer.ejs %>
  <script src="../../plugins/highcharts/highcharts.js"></script>
 <script src="../../plugins/highcharts/highcharts-3d.js"></script>
<script src="../../plugins/highcharts/exporting.js"></script>



  <script>
  $(function () {
    $('#container').highcharts({
        title: {
            text: 'Le poids moyen par mois',
            x: -20 //center
        },
        subtitle: {
          text: 'Année: 2016. Source: Centre Régional de l\'INRH à DAKHLA.',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Poids moyen (g)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'g'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Lassarga',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'Labuirda',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Ntireft',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'Imoutlan',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});
 ;

  </script>

  <script>
  // Data gathered from http://populationpyramid.net/germany/2015/
  $(function () {
      $('#container1').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Total poids échantillonné par mois'
          },
          subtitle: {
              text: 'Année: 2016. Source: Centre Régional de l\'INRH à DAKHLA.'
          },
          xAxis: {
              categories: [
                  'Jan',
                  'Feb',
                  'Mar',
                  'Apr',
                  'May',
                  'Jun',
                  'Jul',
                  'Aug',
                  'Sep',
                  'Oct',
                  'Nov',
                  'Dec'
              ],
              crosshair: true
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Nombre (kg)'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:.1f} kg</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Lassarga',
              data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

          }, {
              name: 'Labuirda',
              data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

          }, {
              name: 'Ntireft',
              data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

          }, {
              name: 'Imoutlan',
              data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

          }]
      });
  });
  </script>

  <script>
  $(function () {
  $('#container2').highcharts({
      chart: {
          type: 'pie',
          options3d: {
              enabled: true,
              alpha: 45,
              beta: 0
          }
      },
      title: {
          text: 'Echantillonnage biologique du poulpe, La répartition par sexe en 2016'
      },
      subtitle: {
          text: 'Année: 2016. Source: Centre Régional de l\'INRH à DAKHLA.'
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                  enabled: true,
                  format: '{point.name}'
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Pourcentage',
          data: [
              ['Femelle', 35.0],
              {
                  name: 'Mâle',
                  y: 22.8,
                  sliced: true,
                  selected: true
              },
              ['Hermaphrodite', 8.5],
              ['Inconnu', 6.2]
          ]
      }]
  });
});
  </script>


  <script>
  $(function () {

    // Radialize the colors
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    // Build the chart
    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'La répartition par stade de maturité sexuelle'
        },
        subtitle: {
            text: 'Année: 2016. Source: Centre Régional de l\'INRH à DAKHLA.'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    connectorColor: 'silver'
                }
            }
        },
        series: [{
            name: 'Pourcentage',
            data: [
                { name: 'Stade 1', y: 56.33 },
                {
                    name: 'Stade 2',
                    y: 24.03,
                    sliced: true,
                    selected: true
                },
                { name: 'Stade 3', y: 10.38 },
                { name: 'Stade 4', y: 4.77 }
            ]
        }]
    });
});
  </script>
